* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  background: #f9fbff;
}

/* nav {
  width: 100%;
  background: #f9fbff;
  padding: 0.7rem 0;
  position: fixed;
  top: 0;
  z-index: 10;
  display: block;
} */

nav {
  position: sticky;
  top: 0;
  /* left: 0; */
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0;
  background: #f9fbff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  width: 100%;
  margin: 0 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Satoshi" sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  /* line-height: 150%; */
  /* identical to box height, or 54px */
  letter-spacing: 0.02em;
  cursor: pointer;
}

.logo .story {
  color: #0c2acb;
  font-style: normal;
  font-weight: 900;
}

#post1 {
  width: 150px;
  display: block;
  /* margin: 3rem auto; */
  margin-right: -2rem;
  background: transparent;
  border-radius: 10000px;
  text-align: center;
  border: none;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  justify-content: center;
}

#post2 {
  width: 150px;
  display: block;
  /* margin: 3rem auto; */
  background: #ccdffb;
  border-radius: 10000px;
  text-align: center;
  border: none;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  justify-content: center;
}

#post3 {
  width: 150px;
  display: block;
  /* margin: 3rem auto; */
  background: #0c2acb;
  border-radius: 10000px;
  padding: 10px 20px;
  gap: 10px;
  text-align: center;
  border: none;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  justify-content: center;
}

nav .labels {
  display: flex;
  margin-left: 17rem;
  column-gap: 2rem;
  font-size: 18px;
  padding: 16px 32px;
  text-align: center;
  border: none;
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.navbar #post {
  font-size: 18px;
  padding: 16px 32px;
}

/*=========== MAIN ============*/

.first-class {
  background: #f9fbff;
  position: relative;
  top: 4rem;
}

button {
  background: #0c2acb;
  padding: 12px 28px;
  border-radius: 30px;
}

main .gallery {
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  background: transparent;
  border: 1px solid #e5e4e2;
}

button:hover {
  border: 1px solid #0c2acb;
}

main .gallery i {
  font-weight: normal;
  font-size: 28px;
}

/* h1 {
  width: 225px;
  height: 81px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 150%;
  color: #b7b7b7;
  margin-top: 5rem;
} */

.first-class label {
  display: block;
}

.first-class input[type="text"] {
  margin-top: 2rem;
  font-size: 54px;
  width: 100%;
}

.first-class input[type="text"]::placeholder {
  width: 225px;
  height: 81px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 150%;
  color: #b7b7b7;
}

.first-class #down {
  margin-top: 2rem;
}

.first-class hr {
  border: 1px solid #c0c0c0;
}

.first-class .large i {
  font-size: 40px;
  font-weight: normal;
  color: #b7b7b7;
  gap: 1rem;
}

.first-class .large i:hover {
  color: #0c2acb;
  cursor: pointer;
}

/* .first-class h1 {
} */

.first-class span {
  gap: 1.5rem;
}

.first-class .tell input[type="text"] {
  margin-top: -5rem;
  font-size: 24px;
  bottom: 0;
  width: 100%;
  /* height: 100vh; */
}

.first-class .tell input[type="text"]::placeholder {
  width: 141px;
  height: 27px;
  font-family: "Satoshi";
  font-style: normal;
  font-weight: 500;
  font-size: 22.5px;
  line-height: 27px;
  color: #b7b7b7;
}

body {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/*---------- RESPONSIVENESS ----------*/

@media screen and (max-width: 992px) {
  body {
    overflow: scroll;
    overflow-x: hidden;
  }
  
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  nav label {
    position: fixed;
    background-color: #f9fbff;
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

   nav label a {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav label .show {
    transform: translateX(0);
  }
}