* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Satoshi", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
}

:root {
    --color-white: hsl(252, 30%, 100%);
    --color-light: #F4F8FF;
    --color-gray: #6c6e70;
    --color-primary: #0c2acb;
    --color-secondary: #ccdffb;
    --color-success: rgba(249, 251, 255, 0.1);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: #01051b;
    --color-black: #292d32;
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}


/* Read-a-blog */

.homepage {
    font-family: "Satoshi";
    color: var(--color-dark);
    background: var(--color-light);
    overflow-x: hidden;
}

.homepage a {
    text-decoration: none;
}

.read {
    font-family: "Satoshi";
    color: var(--color-dark);
    background: #ccdffb;
    overflow-x: hidden;
}

.profile-photo {
    width: 3.2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

.logo {
    font-family: "Satoshi" sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    /* line-height: 150%; */
    /* identical to box height, or 54px */
    letter-spacing: 0.02em;
}

.logo span {
    color: #0c2acb;
    font-style: normal;
    font-weight: 900;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: #0c2acb;
    color: white;
}

.text-bold {
    font-weight: 500;
}

.text-muted {
    color: var(--color-gray);
    font-size: 14px;
}


/* homepage nav-headerbar-header */

header {
    width: 100%;
    background: var(--color-white);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 4rem;
}

header .search-bar {
    background: rgba(243, 246, 251, 1);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
}

header .search-bar input[type="search"] {
    background: transparent;
    width: 40vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark);
}

header .search-bar input[type="search"]::placeholder {
    color: var(--color-gray);
}

.profile {
    display: flex;
    align-items: center;
}

.handle {
    padding-left: 5px;
}

.handle h4 {
    color: var(--color-black);
    font-weight: bold;
    font-size: 18px;
}


/* ===============VICKIE=========MAIN================================ */


/*------hero section -------*/

.hero {
    position: relative;
    top: 6.6rem;
}

.hero .hero-container {
    display: grid;
    grid-template-columns: 18vh auto 20vw;
    column-gap: 2rem;
    position: relative;
}


/*---------hero left-------*/

.hero-container .left {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}


/*---------sidebar--------*/

.left .sidebar {
    margin-top: 1.5rem;
    margin-left: 2rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    column-gap: 1rem;
    width: 220px;
    border: 1px solid #eee;
    margin-bottom: 5rem;
}

.left .sidebar .menu-item {
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .menu-item:hover {
    background: rgba(243, 246, 251, 1);
}

.left .sidebar i {
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left .sidebar h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
}

.left .sidebar .active {
    background: rgba(243, 246, 251, 1);
}

.left .sidebar .active i,
.left .sidebar .active h3 {
    color: var(--color-primary);
}

.left .btn {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

#post {
    width: 150px;
    display: block;
    margin: 3rem auto;
}


/* .button input[type="write"]::placeholder {
    color: white;
  } */


/* ==============MIDDLE============== */

.middle {
    margin-left: 8rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.middle .feeds .feed {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: 30px;
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
    /* gap: 28px; */
}

.middle .feed .head {
    display: flex;
    justify-content: space-between;
}

.middle .feed .user {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.middle .feed .details .small-tag {
    color: var(--color-dark);
    font-family: "Satoshi";
    font-size: 14px;
}

.middle .head .user {
    vertical-align: middle;
    line-height: 20px;
}

.middle .feed .photo img {
    border-radius: var(--border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
}

.middle .head .info {
    /* color: var(--color-primary); */
    font-size: 16px;
    gap: 1.5rem;
}

.middle .head .info .adjust {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.middle .head .info .span-2 {
    font-size: 1rem;
    color: var(--color-primary);
    vertical-align: middle;
}


/* .middle .head .info .adjust {
    gap: 2rem;
   } */

.middle .title .h4-title {
    font-size: 24px;
    font-weight: 700;
    width: 555px;
    height: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #292d32;
    line-height: 20px;
}

.middle .blog .p-blog {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #292d32;
    margin-top: 2rem;
    text-align: justify;
}


/* =================RIGHT ================== */


/* .hero-container .main-right .right {
    height: max-content;
    position: -webkit-sticky;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0;
}

.right .content {
    background-color: white;
    border-radius: var(--card-border-radius);
    cursor: pointer;
    padding: var(--card-padding);
}

.content {
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */

z-index: 1;

/* Stay on top */

top: 0;

/* Stay at the top */


/* left: 0; */

background-color: #111;

/* Black */

overflow-x: hidden;

/* Disable horizontal scroll */

padding-top: 20px;
margin-top: 7.5rem;

}

/* .right .first {
    margin-top: 1rem;
}
.right .first .profile-photo {
    width: 3.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
.right .content .first .funds .h5-funds {
    font-size: 20px;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-top: 1rem;
}
.right .content .first .funds .small-funds {
    font-size: 14px;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    color: #6c6e70;
    line-height: 20px;
}
.right .content .second {
    margin-top: 1rem;
    align-items: center;
}
.right .content .second .p-second {
    color: #292d32;
    font-family: "Satoshi";
    font-style: normal;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    width: 224px;
    height: 140px;
}
.right .content .third {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
}
.right .content .third .h5-third {
    font-weight: 700;
}
.right .content .third .fig2 {
    margin-right: 4rem;
}
.right .content #post {
    margin-right: 4rem;
}
*/
*/
/* -------------right bar---------------- */
.right {
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
    bottom: 0;
    margin-right: 1.5rem;
    margin-bottom: 5rem;
}
.right .messages {
    background: var(--color-white);
    border-radius: 1rem;
    padding-bottom: 2rem;
    margin-top: 1.5rem;
}
.messages .heading {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.funds {
    padding-left: 10px;
}
.right .category p {
    font-size: 1rem;
    width: 250px;
    margin-left: 0.5rem;
    padding: 1rem 1rem;
    border-radius: var(--border-radius);
    color: var(--color-dark);
    cursor: pointer;
    line-height: 1.5rem;
}

/*=================== COMMENT SECTION ======================*/
.middle .comment .all {
    /* width: 100%; */
    
    background: #f9fbff;
    /* display: flex; */
    
    justify-content: center;
    align-items: center;
}
.middle .comment .all .grp1 {
    display: flex;
    gap: 2rem;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.middle .comment .all .grp2 .flex {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}
.middle .comment .all .grp2 .flex #add {
    background: transparent;
    /* border-radius: var(--border-radius); */
    
    padding: var(--search-padding);
    cursor: pointer;
    width: 50vw;
    border-bottom: 1px solid #b5b5b5;
}
.comment .all .grp3 {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.comment .all .grp3 .flex3 .btn-grp3 {
    padding: 8px 20px;
    font-size: 16px;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #6c6e70;
    border-radius: 10000px;
    margin-top: 1rem;
}
.comment .all #cancel {
    background: transparent;
    padding: 8px 20px;
    font-size: 16px;
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #6c6e70;
    border-radius: 10000px;
    margin-top: 1rem;
    margin-right: 3rem;
}
.comment .all #cancel {
    background: transparent;
    margin-right: -0.1rem;
}
.comment .all .profiles {
    margin-top: 2rem;
    /* cursor: pointer; */
}
.comment .all .profiles .pro1 {
    display: flex;
    gap: 1rem;
    margin: 1rem;
}
.comment .all .profiles .pro1 .sub2 {
    vertical-align: middle;
}
.comment .all .profiles .pro1 .sub2a {
    /* margin-top: 10px; */
    
    display: flex;
    gap: 1rem;
    vertical-align: middle;
}
.comment .all .profiles .pro1 .sub2a i {
    color: black;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.comment .all .profiles .pro1 .sub2a i:hover {
    color: #0c2acb;
    background: #f3f6fb;
}
.comment .all .profiles .pro1 .sub2a .p-sub2a {
    color: black;
    /* font-size: 14px; */
    
    font-weight: 700;
    margin-top: 5px;
    cursor: pointer;
}
.comment .all .profiles .pro1 .sub2a p:hover {
    border-bottom: 1px solid black;
}
.comment .all .profiles .pro1 .sub2b {
    margin-top: -10px;
    margin-left: 10px;
    display: flex;
    gap: 1rem;
}
.comment .all .profiles .pro1 .sub2b .i-sub2b {
    color: #0c2acb;
    cursor: pointer;
    /* transform: rotate(360deg); */
}
.comment .all .profiles .pro1 .sub2b .p-sub2b {
    color: #0c2acb;
    cursor: pointer;
    /* font-size: 20px; */
    
    font-weight: 700;
}
.comment .all .profiles .pro1 .sub2b p:hover {
    border-bottom: 1px solid #0c2acb;
}
.comment .all .profiles .ellipses {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    vertical-align: middle;
    gap: 1rem;
}
.ellipses .ellipses-main .i-main {
    /* vertical-align: middle; */
    
    color: #6c6e70;
    font-size: 24px;
    font-weight: 500;
    margin-top: 5rem;
    cursor: pointer;
}
.ellipses .ellipses-main i:hover {
    color: #0c2acb;
    background: #f3f6fb;
}
.ellipses .pro1 #br {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    /* identical to box height, or 171% */
    
    letter-spacing: 0.5px;
    /* Text/Black */
    
    color: #292d32;
}
.ellipses .pro1 #br:hover {
    border-bottom: 1px solid black;
}
.ellipses .pro1 small {
    font-family: "Satoshi";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    letter-spacing: 0.5px;
    /* Text/Black */
    
    color: #292d32;
}

/*----------- RESPONSIVENESS ------------*/

/*--------- FOR SMALL LAPTOPS AND BIG TABLETS --------*/
@media screen and (max-width: 1200px) {
    .hero-container {
        width: 96%;
    }
    
    main .hero-container {
        grid: 5rem auto 30vw;
        gap: 1rem;
    }
    
    .left {
        width: 5rem;
        z-index: 5;
    }
    
    main .hero-container .left .profile {
        display: none;
    }
    
    .sidebar h3 {
        display: none;
    }
    
    .left label {
        display: none;
    }
}

/*--------- FOR SMALL TABLETS AND MOBILE PHONES --------*/
@media screen and (max-width: 992px) {
    body {
        overflow: scroll;
        overflow-x: hidden;
    }
    
     ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    
    nav-header .search-bar {
        display: none;
    }
    
    #publish {
        display: block;
    }
    
    main .hero-container {
        grid: 0 auto 7rem;
        gap: 1rem;
        /* overflow-y: hidden; */
    }
    
    main .hero-container .left {
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 2rem;
    }
    
    main .hero-container .left #post {
        display: none;
    }
    
    main .hero-container .middle {
        grid-column: 1/3;
        /* margin-left: 0; */
    }
    
    main .hero-container .right {
        display: none;
    }
    
    .comment .all .grp3 .flex3 button {
        margin-right: 1rem;
    }
}