        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Satoshi", sans-serif;
            outline: none;
            border: none;
            text-decoration: none;
        }
        
         :root {
            --color-white: hsl(252, 30%, 100%);
            --color-light: #ececec;
            --color-gray: #6c6e70;
            --color-primary: #0c2acb;
            --color-secondary: #ccdffb;
            --color-success: #f9fbff;
            --color-danger: hsl(0, 95%, 65%);
            --color-dark: #01051b;
            --color-black: #292d32;
            --border-radius: 2rem;
            --card-border-radius: 1rem;
            --btn-padding: 0.6rem 2rem;
            --search-padding: 0.6rem 1rem;
            --card-padding: 1rem;
            --sticky-top-left: 5.4rem;
            --sticky-top-right: -18rem;
        }
        
        body {
            font-family: "Satoshi", sans-serif;
            background: #ccdffb;
        }
        /* Signup page */
        
        .container {
            background: #fff;
            display: block;
            margin: 6rem auto;
            border: none;
            border-radius: 15px;
            width: 500px;
            padding: 50px;
        }
        
        .text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 40px;
            padding-top: 20px;
        }
        
        .text i {
            cursor: pointer;
        }
        
        h2 {
            width: 183px;
            height: 20px;
            font-family: "Satoshi", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.005em;
            color: #484848;
        }
        
        h1 {
            width: 400px;
            height: 45px;
            font-family: "Satoshi", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 140%;
            letter-spacing: 0.0015em;
            color: #0c2acb;
        }
        
        p {
            width: 400px;
            height: 44px;
            font-family: "Satoshi", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            /* or 22px */
            letter-spacing: 0.0015em;
            color: #807878;
        }
        
        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px 24px;
            margin-top: 24px;
            margin-bottom: 20px;
            gap: 10px;
            width: 380px;
            height: 52px;
            background: #0c2acb;
            border-radius: 10000px;
            border: none;
            color: #fff;
            cursor: pointer;
        }
        
        button:focus {
            outline: none;
        }
        
        .btn-btn:hover {
            color: #fff;
            border: none;
            outline: none;
        }
        
        .btn-btn {
            color: #fff;
            font-family: "Satoshi", sans-serif;
            font-style: normal;
            font-weight: 500;
        }
        
        h6 {
            height: 20px;
            font-family: "Satoshi";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            /* identical to box height, or 167% */
            text-align: center;
            /* Primary Color */
            color: #0c2acb;
        }
        
        .bottom a {
            height: 20px;
            font-family: "Satoshi";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            /* identical to box height, or 167% */
            text-align: center;
            /* Primary Color */
            color: #0c2acb;
            text-decoration: none;
        }
        /* Homepage */
        
        .homepage {
            font-family: "Satoshi";
            color: var(--color-dark);
            background: var(--color-light);
            overflow-x: hidden;
        }
        
        .read {
            font-family: "Satoshi";
            color: var(--color-dark);
            background: #ccdffb;
            overflow-x: hidden;
        }
        
        .navbar-container {
            width: 80%;
            margin: 0 auto;
        }
        
        .profile-photo {
            width: 2.7rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;
        }
        
        img {
            display: block;
            width: 100%;
        }
        
        .logo {
            font-family: "Satoshi" sans-serif;
            font-style: italic;
            font-weight: 500;
            font-size: 36px;
            /* line-height: 150%; */
            /* identical to box height, or 54px */
            letter-spacing: 0.02em;
        }
        
        .logo span {
            color: #0c2acb;
            font-style: normal;
            font-weight: 900;
        }
        
        .btn {
            display: inline-block;
            padding: var(--btn-padding);
            font-weight: 500;
            border-radius: var(--border-radius);
            cursor: pointer;
            transition: all 300ms ease;
            font-size: 0.9rem;
        }
        
        .btn:hover {
            opacity: 0.8;
        }
        
        .btn-primary {
            background: #0c2acb;
            color: white;
        }
        
        .text-bold {
            font-weight: 500;
        }
        
        .text-muted {
            color: var(--color-gray);
        }
        /* homepage navbar */
        
        nav {
            width: 100%;
            background: var(--color-white);
            padding: 0.7rem 0;
            position: fixed;
            top: 0;
            z-index: 10;
        }
        
        nav .navbar-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        nav .search-bar {
            background: var(--color-light);
            border-radius: var(--border-radius);
            padding: var(--search-padding);
        }
        
        nav .search-bar input[type="search"] {
            background: transparent;
            width: 30vw;
            margin-left: 1rem;
            font-size: 0.9rem;
            color: var(--color-dark);
        }
        
        nav .search-bar input[type="search"]::placeholder {
            color: var(--color-gray);
        }
        
        nav .create {
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        /*------hero section -------*/
        
        .hero {
            position: relative;
            top: 5.4rem;
        }
        
        .hero .hero-container {
            display: grid;
            grid-template-columns: 18vh auto 20vw;
            column-gap: 2rem;
            position: relative;
        }
        /*---------hero left-------*/
        
        .hero-container .left {
            height: max-content;
            position: sticky;
            top: var(--sticky-top-left);
        }
        
        .left .sidebar {
            margin-top: 1rem;
            background: var(--color-white);
            border-radius: var(--card-border-radius);
        }
        
        .left .sidebar .menu-item {
            display: flex;
            align-items: center;
            height: 4rem;
            cursor: pointer;
            transition: all 300ms ease;
            position: relative;
        }
        
        .left .sidebar .menu-item:hover {
            background: var(--color-light);
        }
        
        .left .sidebar i {
            font-size: 1.4rem;
            color: var(--color-gray);
            margin-left: 2rem;
            position: relative;
        }
        
        .left .sidebar h3 {
            margin-left: 1.5rem;
            font-size: 1rem;
        }
        
        .left .sidebar .active {
            background: var(--color-light);
        }
        
        .left .sidebar .active i,
        .left .sidebar .active h3 {
            color: var(--color-primary);
        }
        
        .left .btn {
            margin-top: 1rem;
            width: 100%;
            text-align: center;
            padding: 1rem 0;
        }
        
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: "Satoshi", sans-serif;
            outline: none;
            border: none;
            text-decoration: none;
        }
        
         :root {
            --color-white: hsl(252, 30%, 100%);
            --color-light: #F4F8FF;
            --color-gray: #6c6e70;
            --color-primary: #0c2acb;
            --color-secondary: #ccdffb;
            --color-success: #f9fbff;
            --color-danger: hsl(0, 95%, 65%);
            --color-dark: #01051b;
            --color-black: #292d32;
            --border-radius: 2rem;
            --card-border-radius: 1rem;
            --btn-padding: 0.6rem 2rem;
            --search-padding: 0.6rem 1rem;
            --card-padding: 1rem;
            --sticky-top-left: 5.4rem;
            --sticky-top-right: -18rem;
        }
        
        body {
            font-family: "Satoshi", sans-serif;
            background: #F9FBFF;
        }
        /* Signup page */
        
        .container {
            background: #fff;
            display: block;
            margin: 6rem auto;
            border: none;
            border-radius: 15px;
            width: 500px;
            padding: 50px;
        }
        
        .text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 40px;
            padding-top: 20px;
        }
        
        .text i {
            cursor: pointer;
        }
        
        h2 {
            width: 183px;
            height: 20px;
            font-family: "Satoshi", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0.005em;
            color: #484848;
        }
        
        h1 {
            width: 400px;
            height: 45px;
            font-family: "Satoshi", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 32px;
            line-height: 140%;
            letter-spacing: 0.0015em;
            color: #0c2acb;
        }
        
        p {
            width: 400px;
            height: 44px;
            font-family: "Satoshi", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
            /* or 22px */
            letter-spacing: 0.0015em;
            color: #807878;
        }
        
        button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px 24px;
            margin-top: 24px;
            margin-bottom: 20px;
            gap: 10px;
            width: 380px;
            height: 52px;
            background: #0c2acb;
            border-radius: 10000px;
            border: none;
            color: #fff;
            cursor: pointer;
        }
        
        button:focus {
            outline: none;
        }
        
        .btn-btn:hover {
            color: #fff;
            border: none;
            outline: none;
        }
        
        .btn-btn {
            color: #fff;
            font-family: "Satoshi", sans-serif;
            font-style: normal;
            font-weight: 500;
        }
        
        h6 {
            height: 20px;
            font-family: "Satoshi";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            /* identical to box height, or 167% */
            text-align: center;
            /* Primary Color */
            color: #0c2acb;
        }
        
        .bottom a {
            height: 20px;
            font-family: "Satoshi";
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            /* identical to box height, or 167% */
            text-align: center;
            /* Primary Color */
            color: #0c2acb;
            text-decoration: none;
        }
        /* Homepage */
        
        .homepage {
            font-family: "Satoshi";
            color: var(--color-dark);
            background: var(--color-light);
            overflow-x: hidden;
        }
        
        .read {
            font-family: "Satoshi";
            color: var(--color-dark);
            background: #ccdffb;
            overflow-x: hidden;
        }
        
        .navbar {
            width: 100%;
            margin: 0 8rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .profile-photo {
            width: 3.2rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            overflow: hidden;
        }
        
        img {
            display: block;
            width: 100%;
        }
        
        .logo {
            font-family: "Satoshi" sans-serif;
            font-style: italic;
            font-weight: 500;
            font-size: 36px;
            /* line-height: 150%; */
            /* identical to box height, or 54px */
            letter-spacing: 0.02em;
        }
        
        .logo span {
            color: #0c2acb;
            font-style: normal;
            font-weight: 900;
        }
        
        .btn {
            display: inline-block;
            padding: var(--btn-padding);
            font-weight: 500;
            border-radius: var(--border-radius);
            cursor: pointer;
            transition: all 300ms ease;
            font-size: 0.9rem;
        }
        
        .btn:hover {
            opacity: 0.8;
        }
        
        .btn-primary {
            background: #0c2acb;
            color: white;
        }
        
        .text-bold {
            font-weight: 500;
        }
        
        .text-muted {
            color: var(--color-gray);
            font-size: 14px;
        }
        /* homepage navbar */
        
        nav {
            width: 100%;
            background: var(--color-white);
            padding: 0.7rem 0;
            position: fixed;
            top: 0;
            z-index: 10;
            display: block;
        }
        
        nav .search-bar {
            background: var(--color-light);
            border-radius: var(--border-radius);
            padding: var(--search-padding);
        }
        
        nav .search-bar input[type="search"] {
            background: transparent;
            width: 40vw;
            margin-left: 1rem;
            font-size: 0.9rem;
            color: var(--color-dark);
        }
        
        nav .search-bar input[type="search"]::placeholder {
            color: var(--color-gray);
        }
        
        .profile {
            display: flex;
            align-items: center;
            column-gap: 1rem;
        }
        
        .handle {
            margin-top: 1rem;
        }
        /*------hero section -------*/
        
        .hero {
            position: relative;
            top: 6.6rem;
        }
        
        .hero .hero-container {
            display: grid;
            grid-template-columns: 18vh auto 20vw;
            column-gap: 2rem;
            position: relative;
        }
        /*---------hero left-------*/
        
        .hero-container .left {
            height: max-content;
            position: sticky;
            top: var(--sticky-top-left);
        }
        /*---------sidebar--------*/
        
        .left .sidebar {
            margin-top: 1.5rem;
            margin-left: 4rem;
            background: var(--color-white);
            border-radius: var(--card-border-radius);
            column-gap: 1rem;
            width: 220px;
            border: 1px solid #eee;
            margin-bottom: 5rem;
        }
        
        .left .sidebar .menu-item {
            display: flex;
            align-items: center;
            height: 4rem;
            cursor: pointer;
            transition: all 300ms ease;
            position: relative;
        }
        
        .left .sidebar .menu-item:hover {
            background: #F3F6FB;
        }
        
        .left .sidebar i {
            font-size: 1.4rem;
            color: var(--color-gray);
            margin-left: 2rem;
            position: relative;
        }
        
        .left .sidebar h3 {
            margin-left: 1.5rem;
            font-size: 1rem;
        }
        
        .left .sidebar .active {
            background: #F4F8FF;
        }
        
        .left .sidebar .active i,
        .left .sidebar .active h3 {
            color: var(--color-primary);
        }
        
        .left .btn {
            margin-top: 1rem;
            width: 100%;
            text-align: center;
            padding: 1rem 0;
        }
        
        #post {
            width: 150px;
            display: block;
            margin: 3rem auto;
        }
        /* ----------------middle bar----------------- */
        
        .middle {
            margin-left: 10rem;
            margin-top: 1.5rem;
            margin-bottom: 5rem;
        }
        
        .middle .post {
            display: flex;
            align-items: center;
            height: 4rem;
            cursor: pointer;
            transition: all 300ms ease;
            position: relative;
            background: var(--color-white);
            border-radius: 1rem;
        }
        
        .middle .post i {
            font-size: 1.4rem;
            color: var(--color-gray);
            margin-left: 2rem;
            position: relative;
        }
        
        .middle .post h3 {
            margin-left: 1rem;
            font-size: 1.2rem;
        }
        
        .middle .post .active i,
        .middle .post .active h3 {
            color: var(--color-primary);
        }
        
        .new {
            display: flex;
            align-items: center;
        }
        /* -----------middle feeds----------------- */
        
        .middle .feeds .feed {
            background: var(--color-white);
            border-radius: var(--card-border-radius);
            padding: var(--card-padding);
            margin: 1rem 0;
            font-size: 0.85rem;
            line-height: 1.5;
        }
        
        .middle .feed .head {
            display: flex;
            justify-content: space-between;
        }
        
        .middle .feed .edit i {
            color: var(--color-primary);
            font-size: 1rem;
        }
        
        .middle .feed .edit {
            font-size: 1rem;
            font-weight: 600;
        }
        
        .middle .feed .user {
            display: flex;
            gap: 1rem;
        }
        
        .middle .feed .info small {
            color: var(--color-dark);
            font-family: 'Satoshi';
            font-size: 14px;
        }
        
        .middle .feed .photo h3 {
            margin: 1rem;
            font-size: 1.2rem;
        }
        
        .middle .feed .photo img {
            border-radius: var(--border-radius);
            overflow: hidden;
            margin: 0.7rem 0;
        }
        
        .middle .feed .action-button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.4rem;
            margin: 0.6rem;
        }
        
        .middle .action-button .interaction-button {
            display: flex;
            align-items: center;
            padding-right: 3.5rem;
        }
        
        .middle .action-button .interaction-button i {
            padding-right: 1rem;
            font-size: 2rem;
            font-weight: 400;
        }
        
        .middle .action-button .interaction-button h5 {
            padding: 0.5rem 1rem;
            border: 2px solid #eee;
            border-radius: var(--border-radius);
            font-size: 1rem;
            cursor: pointer;
            margin-right: 0.5rem;
            font-weight: 400;
        }
        
        .middle .action-button .bookmark {
            display: flex;
            align-items: center;
        }
        
        .middle .action-button .bookmark i {
            padding-right: 0.5rem;
        }
        /* -------------right bar---------------- */
        
        .right {
            height: max-content;
            position: sticky;
            top: var(--sticky-top-left);
            bottom: 0;
            margin-right: 1rem;
            margin-bottom: 5rem;
        }
        
        .right .messages {
            background: var(--color-white);
            border-radius: 1rem;
            padding-bottom: 2rem;
            margin-top: 1.5rem;
        }
        
        .messages .heading {
            padding: 2rem;
        }
        
        .right .category p {
            font-size: 1rem;
            width: max-content;
            margin: 1rem;
            padding: 1rem 1rem;
            background: #F3F6FB;
            border-radius: var(--border-radius);
            color: var(--color-dark);
            cursor: pointer;
        }